This dataset contains information about iris flowers' characteristics.<br>
The dataset has 150 entries.<br>
Features:<br>
Sepal Length (in cm)<br>
Sepal Width (in cm)<br>
Petal Length (in cm)<br>
Petal Width (in cm)<br>
Target Variable:<br>
Species: The species of the iris flower (Iris-setosa, Iris-versicolor, Iris-virginica)<br>
Sample Entries:<br>
Sampled from the dataset are various measurements for each iris flower,<br>
 such as sepal length, sepal width, petal length, and petal width.<br>
The species of each flower is provided as well.<br>
Distribution:<br>
The dataset contains three different species of iris flowers: <br>
Iris-setosa, Iris-versicolor, and Iris-virginica.<br>
Each species has multiple samples with different measurements.<br>
Objective:<br>
The objective of using this dataset could be to train a <br>
machine learning model to predict the species of an iris flower<br>
 based on its sepal and petal measurements.<br>
Application:<br>
This dataset is suitable for practicing and demonstrating <br>
various machine learning concepts, especially <br>
those related to classification algorithms.<br>
Educational Value:<br>
The dataset is simple, clean, and well-known, making it <br>
an ideal starting point for beginners in machine learning.<br>

In [1]:
import pandas as pd

In [3]:

df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa