###  Feature Scaling and Standerdization Method
1) StandardScaler

2) MinMaxScaler

Example: 

Age vs income Age income (14-90) varaible No of 2 digits (2-3) digit

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
d = {'Age' : [18,23,45,56,67,39],
    'Income': [950,2300,35000,54000,700000,4800]}
print(type(d))
print(d)
df = pd.DataFrame(d)
df

<class 'dict'>
{'Age': [18, 23, 45, 56, 67, 39], 'Income': [950, 2300, 35000, 54000, 700000, 4800]}

   Age  Income
0   18     950
1   23    2300
2   45   35000
3   56   54000
4   67  700000
5   39    4800

###  1)StandardScaler:
z = (x-u)/stdev

=> its grenerate a numpy array

In [14]:
df1 = df.copy()
df1.head(6)

   Age  Income
0   18     950
1   23    2300
2   45   35000
3   56   54000
4   67  700000
5   39    4800

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc = StandardScaler()

In [17]:
df1_std = sc.fit_transform(df1)
print(df1_std)
print(type(df1_std))

[[-1.35724179 -0.51846036]
 [-1.06640426 -0.51315357]
 [ 0.21328085 -0.3846113 ]
 [ 0.85312341 -0.30992314]
 [ 1.49296596  2.22947456]
 [-0.13572418 -0.50332618]]
<class 'numpy.ndarray'>

In [18]:
df1.head(6)

   Age  Income
0   18     950
1   23    2300
2   45   35000
3   56   54000
4   67  700000
5   39    4800

In [19]:
x23_std = (23 - df['Age'].mean()) / df['Age'].std(ddof = 0)
print(x23_std)

-1.066404259703037

In [21]:
x35000_std = (35000 - df['Income'].mean()) / df['Income'].std(ddof = 0)
print(x35000_std)

-0.3846113049246541

### 2) MinMaxScaler

X_std = (X-X.min(axis=0)) / (X.max(axis = 0)) - X.min(axis = 0)

X_scaled = X_std * (max-min) + min

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
mmsc = MinMaxScaler

df1_std = sc.fit_transform(df1)
print(df1_std)
print(type(df1_std))

[[-1.35724179 -0.51846036]
 [-1.06640426 -0.51315357]
 [ 0.21328085 -0.3846113 ]
 [ 0.85312341 -0.30992314]
 [ 1.49296596  2.22947456]
 [-0.13572418 -0.50332618]]
<class 'numpy.ndarray'>