In [3]:
# import relevent libraries
import numpy as np
import pandas as pd
import statistics as stats

In [4]:
# import Database
df = pd.read_csv('california_housing_test.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

#  (1) CENTRAL TENDENCY:

### MEAN, MEDIAN, AND MODE WIDELY USE MEASURES:

##  MEAN()

In [5]:
# mean of housing_median_age
df_mean = df['housing_median_age'].mean

print("Mean of Selected column is ",df_mean())

# Onother ways:
# with statistics library

df_mean_1 = stats.mean(df['housing_median_age'])
print("Mean of Selected column is ",df_mean_1)

Mean of Selected column is  28.845333333333333
Mean of Selected column is  28.845333333333333

## Median()

In [6]:
# with pandas library

df_median = df['population'].median()
print('median of selected column is ', df_median)

# with Statstic library
df_median_1 = stats.median(df['population'])
print('median of selected column is ', df_median_1)

median of selected column is  1155.0
median of selected column is  1155.0

## mode()|

In [7]:
df_mode = df['housing_median_age'].mode()

print('mode of selected column is ', df_mode)


# with statstics

df_mode_1 = stats.mode(df['housing_median_age'])
print('mode of selected column is ', df_mode_1)

mode of selected column is  0    52.0
Name: housing_median_age, dtype: float64
mode of selected column is  52.0

# (2) MEASURES OF DISPERSION

##  standerd deviation

In [8]:
# with using a pandas library
df_std = df['housing_median_age'].std()
print('the standerd deviation is ', df_std)

# with using a statstics library

df_std_1 = stats.stdev(df['housing_median_age'])
print('the standerd deviation is ', df_std_1)

the standerd deviation is  12.555395554955755
the standerd deviation is  12.555395554955753


## Variance

In [9]:
# with pandas library
df_variance = df['housing_median_age'].var()
print('the variance is ', df_variance)

# using stastics library

df_variance_1 = stats.variance(df['housing_median_age'])
print('the variance is' , df_variance_1)

the variance is  157.63795754140273
the variance is 157.6379575414027

## Quartiles:

In [13]:
# with numpy library:

df_cols = df['housing_median_age']
df_quartile = np.quantile(df_cols,[ 0,0.25,0.50,0.75,1])
print(df_quartile)

[ 1. 18. 29. 37. 52.]

In [21]:
# in the percent value:
percentile = 29
df_quarntile_60 = np.percentile(df_cols,percentile)
print(df_quarntile_60)

20.0

##  range()

In [1]:
df_range = df['housing_median_age'].max() - df['housing_median_age'].min()
print("the range is", df_range)

NameError: name 'df' is not defined

In [27]:
df_cols = df['housing_median_age']

df_25_iqr = np.percentile(df_cols, 25)
df_75_iqr = np.percentile(df_cols, 75)

IQR = (df_75_iqr - df_25_iqr)
print('TNTER QUANTILE RANGE IS : ', IQR)

TNTER QUANTILE RANGE IS :  19.0